<p>User ID: <%= @user.id %></p>
<p>Here is a list of posts for user <%= @user.id %>:</p>
<ul>
  <% @posts.each do |post| %>
    <li>
      <p>Post ID: <%= post.id %></p>
      <!-- Add other post details you want to display -->
      <p>Title: <%= post.title %></p>
      <p>Content: <%= post.content %></p>
      <!-- Add any other post attributes here -->
    </li>
  <% end %>
</ul>
